:root {
    --color-paper: rgb(255, 255, 255);
    --color-ink: rgb(255, 87, 115);

}

body {
    background-color: var(--color-paper);
    
}

h1 {
    text-align: center;
    color: var(--color-ink);
}